frontend/node_modules

# Output
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build

# OS
.DS_Store
Thumbs.db
frontend/.DS_Store
frontend/Thumbs.db

# Env
mise.*
frontend/mise.*
frontend/.env.*
frontend/!.env.example
backend/mise.*
backend/.env.*
backend/!.env.example

# Vite
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
